.faq {
    padding-top: 20px;
    background-color: #e7e7e7;
    &__list {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }

    &__item {
        padding:20px;
        border-radius: 10px;
        border: 2px solid #34c8ed;
        width: 100%;
        @media (max-width: 600px) {
           padding: 10px;
        }
        h3 {
            margin-bottom: 0;
            font-size: 17px;
            font-weight: 700;
        }
        p {
            margin-bottom: 0;
            font-weight: 400;
            opacity: .75;
            font-style: italic;
        }
    }
    &__link {
        color: #34c8ed;
        font-weight: 700;
    }
}